    .navbar-custom {
      background-color: #222; /* Negro para Urban C */
    }
    .navbar-custom .nav-link,
    .navbar-custom .navbar-brand {
      color: #fff;
    }
    .navbar-custom .nav-link:hover {
      color: #c9c9c9; /* gris claro en hover */ }


    section {
  background-color: #f8f9fa; /* gris claro de fondo */
}

h2 {
  color: #212529; /* texto oscuro elegante */
}

p {
  color: #333333;
  font-size: 1.1rem;
  line-height: 1.6;
}

.productos {
  background-color: #dbdbdb; /* gris claro más oscuro */
}

.productos h2 {
  color: #111; /* título más fuerte */
}

.icon-box img {
  width: 100px;   /* ancho fijo */
  height: 100px;  /* alto fijo */
  object-fit: contain; /* evita deformación */
}

/* Estilo para las imágenes de detalle de producto */
.img-detalle {
  max-height: 500px;
  object-fit: cover;
}



/* ===== FOOTER SIMPLE ===== */
.footer {
  background: #0d0d0d;
}

/* Enlaces */
.footer-link {
  color: #bbbbbb;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #ffc107;
}

/* Redes sociales */
.social-link {
  color: #ffc107;
  font-size: 1.4rem;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-link:hover {
  color: #ffffff;
  transform: scale(1.2);
}
